h1, h2, h3 {
    font-weight: $fontWeightBold;
}

h1 {
    margin-bottom: $spacing-06;
    @include carbon--type-style('expressive-heading-06');
}

p {
    // @include carbon--type-style('body-long-02'); // Applied by default
    max-width: 45ch;
}

p > code {
    font-size: carbon--type-scale(2);
    background-color: $field;
    padding: $spacing-01 $spacing-02;
    border-radius: $borderRadiusXs;
}

.helper-text {
    @include carbon--type-style('helper-text-01');
}

.mb-06 {
    margin-bottom: $spacing-06;
}

.mb-sm {
    margin-bottom: $spacing-05;
    @include carbon--breakpoint(md) {
        margin-bottom: $spacing-07;
    }
}

.mb-md {
    margin-bottom: $spacing-06;
    @include carbon--breakpoint(md) {
        margin-bottom: $spacing-09;
    }
}

.mb-lg {
    margin-bottom: $spacing-07;
    @include carbon--breakpoint(md) {
        margin-bottom: $spacing-10;
    }
}
