h1, h2, h3 {
    font-weight: $fontWeightBold;
}

h1 {
    margin-bottom: $spacing-06;
    @include carbon--type-style('expressive-heading-06');
}

p {
    // @include carbon--type-style('body-long-02'); // Applied by default
    max-width: 45ch;
}

.helper-text {
    @include carbon--type-style('helper-text-01');
}

.mb-06 {
    margin-bottom: $spacing-06;
}
