/**
 * Global Carbon Style Overwrite
 */

// IBM Plex Font Overwrite
// NOTE: As of now Carbon Design System does not provide a way to do this "cleaner"
body,
.bx--btn--copy__feedback,
.bx--snippet .bx--copy-btn,
.bx--snippet-btn--expand {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

// Header
.bx--skip-to-content {
    border-radius: $borderRadiusSm;

    &:focus {
        background-color: $green;
        border-color: $paper;
    }
}

a.bx--header__name {
    border-radius: $borderRadiusSm;
}

a.bx--header__menu-item{
    color: $paper;
    border-radius: $borderRadiusSm;

    &:hover {
        background-color: $green-800;
        color: $paper;
    }
}

// CvButton Component
.bx--btn {
    border-radius: $borderRadiusSm;
}

// CvTextInput Component
.bx--text-input {
    border-radius: $borderRadiusSm;

    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 2px $green;
        border-bottom: 1px solid $ui-01;
    }
}
