/**
 * Global Carbon Style Overwrite
 */

// IBM Plex Font Overwrite
// NOTE: As of now Carbon Design System does not provide a way to do this "cleaner"
body,
.bx--btn--copy__feedback,
.bx--snippet .bx--copy-btn,
.bx--snippet-btn--expand {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

// Header
.bx--skip-to-content {
    border-radius: $borderRadiusSm;

    &:focus {
        background-color: $green;
        border-color: $paper;
    }
}

a.bx--header__name {
    border-radius: $borderRadiusSm;
}

a.bx--header__menu-item{
    color: $paper;
    border-radius: $borderRadiusSm;

    &:hover {
        background-color: $green-700;
        color: $paper;
    }
}

.bx--header__action:hover {
    background-color: $green-700;
}

.bx--tooltip__trigger.bx--header__action:hover .bx--assistive-text {
    overflow: auto;
    clip: auto;
    margin: 0;
}

.bx--tooltip__trigger.bx--tooltip--bottom.bx--tooltip--align-end {
    .bx--assistive-text {
        overflow: hidden;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
    }

    .bx--assistive-text,
    &::after {
        bottom: -.8125rem;
        right: 0;
        left: auto;
        transform: translateY(100%);
    }

    &::before {
        bottom: -.5rem;
        border-color: transparent transparent $green-700;
        border-bottom-color: $green-700;
        border-right-color: transparent;
        border-top-color: transparent;
        border-width: 0 .25rem .3125rem;
        transform: translate(-50%,100%);
    }
}

// CvButton Component
.bx--btn {
    border-radius: $borderRadiusSm;

    &--secondary {
        color: $ink;

        &:hover,
        &:focus {
            color: $ink;
        }

        &:focus {
            border-color: $paper;
            box-shadow: inset 0 0 0 2px $green, inset 0 0 0 3px $paper;
        }

        &:focus:active {
            box-shadow: inset 0 0 0 2px $green, inset 0 0 0 3px $gray-300;
        }
    }
}

// CvTextInput Component
.bx--text-input {
    border-radius: $borderRadiusSm;

    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 2px $green;
        border-bottom: 1px solid $ui-01;
    }
}

// CvSelect Component
.bx--select-input {
    border-radius: $borderRadiusSm;

    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 2px $green;
        border-bottom: 1px solid $ui-01;
    }
}

// CvTile Component
.bx--tile {
    border-radius: $borderRadiusSm;
}

// CvCodeSnippet Component
.bx--snippet {
    border-radius: $borderRadiusSm;

    /* stylelint-disable no-descending-specificity */
    .bx--copy-btn {
        z-index: 15;
        .bx--assistive-text {
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            visibility: inherit;
        }
    }
    /* stylelint-enable no-descending-specificity */

    .bx--copy-btn,
    &--multi .bx--snippet-btn--expand {
        border-radius: $borderRadiusXs;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px $green;
        }
    }
}
