/**
 * Global Carbon Style Overwrite
 */

// IBM Plex Font Overwrite
// NOTE: As of now Carbon Design System does not provide a way to do this "cleaner"
body,
.bx--btn--copy__feedback,
.bx--snippet .bx--copy-btn,
.bx--snippet-btn--expand {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

a.bx--header__name {
    border-radius: $borderRadiusSm;
}

a.bx--header__menu-item{
    color: $paper;
    border-radius: $borderRadiusSm;

    &:hover {
        background-color: $green-800;
        color: $paper;
    }
}

.bx--btn {
    border-radius: $borderRadiusSm;
}
