@import './font-faces';
@import './typography';

/**
 * Global Carbon Style Overwrite
 */

// IBM Plex Font Overwrite
// NOTE: As of now Carbon Design System does not provide a way to do this "cleaner"
body,
.bx--btn--copy__feedback,
.bx--snippet .bx--copy-btn,
.bx--snippet-btn--expand {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3 {
    font-weight: $fontWeightBold;
}

h1 {
    margin-bottom: $spacing-06;
    @include carbon--type-style('expressive-heading-06');
}

.helper-text {
    @include carbon--type-style('helper-text-01');
}

.mb-06 {
    margin-bottom: $spacing-06;
}
