/**
 * Minor adaptions to @carbon/type styles
 */
$decarb-body-short-01: (
    font-size: 0.875rem,
    font-weight: 400,
    line-height: 1.29,
    letter-spacing: 0.16px,
) !default;

$decarb-productive-heading-03: (
    font-size: 1.25rem,
    font-weight: 400,
    line-height: 1.4,
    letter-spacing: 0,
) !default;

$decarb-expressive-heading-03: (
    font-size: carbon--type-scale(5),
    font-weight: $fontWeightNormal,
    line-height: 1.45,
    letter-spacing: 0,
    max-width: 44ch,
    breakpoints: (
        xlg: (
            font-size: carbon--type-scale(5),
            line-height: 1.4,
        ),
        max: (
            font-size: carbon--type-scale(6),
            line-height: 1.4,
        ),
    ),
) !default;

$decarb-display-04: (
    font-size: carbon--type-scale(9),
    font-weight: $fontWeightBold,
    line-height: 1.12,
    letter-spacing: 0,
    breakpoints: (
        md: (
            font-size: carbon--type-scale(11),
            line-height: 1.03,
        ),
        lg: (
            font-size: carbon--type-scale(14),
            line-height: 1.02,
            letter-spacing: -0.64px,
        ),
        xlg: (
            font-size: carbon--type-scale(17),
            line-height: 1,
            letter-spacing: -0.64px,
        ),
        max: (
            font-size: carbon--type-scale(20),
            line-height: 0.975,
            letter-spacing: -0.96px,
        ),
    ),
) !default;

$decarbTypeStyles: (
    body-short-01: $decarb-body-short-01,
    productive-heading-03: $decarb-productive-heading-03,
    expressive-heading-03: $decarb-expressive-heading-03,
    display-04: $decarb-display-04,
);
