PORT=4000
API_PREFIX=/api/v1
DATABASE_URL="postgresql://api:!ChangeMe!@localhost:5432/ew?schema=public"
ECOLOGI_API_ENTRYPOINT=https://public.ecologi.com
ECOLOGI_API_KEY=YOUR_KEY
JWT_SECRET_KEY=YOUR_KEY
PLATFORM_EMAIL_HOST=YOURMAILHOSTURL.COM
PLATFORM_EMAIL_PASSWORD=YOURPASSWORDTEST123
PLATFORM_EMAIL_PORT=587
PLATFORM_EMAIL_USER=YOUR_USERNAME
PLATFORM_EMAIL_SENDER='"PRENAME SURNAME" <YOUR@MAIL.COM>'
STRIPE_CANCEL_URL=YOUR_CANCEL_URL
STRIPE_PRICE_ID_MONTHLY=YOUR_MONTHLY_PRICE_ID
STRIPE_PRICE_ID_YEARLY=YOUR_YEARLY_PRICE_ID
STRIPE_PRODUCT_ID=YOUR_PRODUCT_ID
STRIPE_PUBLIC_KEY=YOUR_KEY
STRIPE_SECRET_KEY=YOUR_KEY
STRIPE_SUCCESS_URL=YOUR_SUCCESS_URL
STRIPE_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET